<% fonts.forEach(k => { %>
@font-face {
    font-family: "<%= k %>";
    src: url('/<%= k %>.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.font-<%= k %> {
    font-family: "<%= k %>";
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
<% }); %>